<p id="notice"><%= notice %></p>

<p>
  <strong>Codusu:</strong>
  <%= @usuario.codUsu %>
</p>

<p>
  <strong>Nombreusu:</strong>
  <%= @usuario.nombreUsu %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
